.btn{
    height: 78px;
    width: 213px;
    padding: 20px;
    border-radius: 12px;
    background-color: #EA7B2C;
    color: #FFFFFF;
    font-size: 34px;
    color: #FFFFFF;
    text-align: center;
    border:1px solid #EA7B2C;

}